{% extends 'base.html.twig' %}

{% block title %}Demo index{% endblock %}

{% block body %}
    <h1>CRUD demo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for demo in demos %}
            <tr>
                <td>{{ demo.id }}</td>
                <td>{{ demo.name }}</td>
                <td>{{ demo.email }}</td>
                <td>{{ demo.city }}</td>
                <td>
                    <a href="{{ path('demo_show', {'id': demo.id}) }}">ver</a>
                    <a href="{{ path('demo_edit', {'id': demo.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se han encontrado solicitudes de demo!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demo_new') }}" class="new">Crear nueva solicitud</a>
{% endblock %}
