{% extends 'base.html.twig' %}

{% block title %}Opinion index{% endblock %}

{% block body %}
    <h1>CRUD Opinion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comentario</th>
                <th>Autor</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td>{{ opinion.id }}</td>
                <td>{{ opinion.comment }}</td>
                <td>{{ opinion.author }}</td>
                <td>{{ opinion.city }}</td>
                <td>
                    <a href="{{ path('opinion_show', {'id': opinion.id}) }}">Ver</a>
                    <a href="{{ path('opinion_edit', {'id': opinion.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se han encontrado comentarios!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('opinion_new') }}" class="new">Crear nuevo comentario</a>
{% endblock %}
